button {
  background-color: black;
  color: white;
  border: none;
  font-size: 15px;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.is-toggled {
  background-color: rgb(230, 230, 230);
  color: black;
}